<div class="white">Mode:{{ mode }}</div>

<app-weather-chart
  [class]="mode === 'temperature' ? 'visible' : 'hidden'"
  title=""
  [data]="HourlyDataRows['temperature']"
  [max]="chartOptions['temperature'].max"
  [min]="chartOptions['temperature'].min"
  [colors]="['Orange', 'Red', 'Purple']"
  [width]="1200"
  [columns]="['Time', 'C', 'Mean', 'Min']"
></app-weather-chart>

<app-weather-chart
  title=""
  [class]="mode === 'pressure' ? 'visible' : 'hidden'"
  [data]="HourlyDataRows['pressure']"
  [max]="chartOptions['pressure'].max"
  [min]="chartOptions['pressure'].min"
  [colors]="['Yellow', 'Green', 'Orange']"
  [columns]="['Time', 'hPa', 'Mean', 'Min']"
  [width]="1200"
></app-weather-chart>

<app-weather-chart
  title=""
  [class]="mode === 'humidity' ? 'visible' : 'hidden'"
  [data]="HourlyDataRows['humidity']"
  [max]="chartOptions['humidity'].max"
  [min]="chartOptions['humidity'].min"
  [colors]="chartOptions['humidity'].colors"
  [columns]="['Time', '%', 'Mean', 'Min']"
  [width]="1200"
>
</app-weather-chart>
