
@import "../../../assets/variables.scss";

table {
  position: absolute;
  color: antiquewhite;

  min-width: 5em;
  font-size: small;

  tr > td:nth-child(1) {
    min-width: 4em;
  }

  tr > td:nth-child(2) {
    text-align: right;
    min-width: 6em;
  }

  caption {
    font-weight: bold;
    text-align: left;
    font-size: 1.2em;
    padding: 0.1em;
  }
}

.temperature > table caption {
    background-color: $red;
}

.pressure > table caption {
    background-color: $yellow;
}

.humidity > table caption {
    background-color: $blue;
}

.container {
  position: relative;
  width: 100%;
}

.wrapper {
  position: unset;
  display: block;
  width: 18rem;
  // height: 4rem;
}
