table {
    position: absolute;
    color:antiquewhite;

    min-width: 14em;
    font-size: small;

    tr > td:nth-child(1) {
        min-width: 50%;
    }

    tr > td:nth-child(2) {
        text-align: right;
        width:50%;
    }

}

.container {
    position: relative;
    width:100%;
    height: 10em;
}