<table *ngIf="mode=='temperature'">
    <tr>
        <td>Temperature</td>
    </tr>
    <tr>
        <td>Min</td>
        <td>{{stats.temperature.min.temperature}}</td>
    </tr>
    <tr>
        <td>Max</td>
        <td>{{stats.temperature.max.temperature}}</td>
    </tr>
    <tr>
        <td>Average</td>
        <td>{{stats.temperature.mean}}</td>
    </tr>
</table>
<table *ngIf="mode=='pressure'">
    <tr>
        <td>Pressure</td>
    </tr>
    <tr>
        <td>Min</td>
        <td>{{stats.pressure.min.pressure}}</td>
    </tr>
    <tr>
        <td>Max</td>
        <td>{{stats.pressure.max.pressure}}</td>
    </tr>
    <tr>
        <td>Average</td>
        <td>{{stats.pressure.mean}}</td>
    </tr>
</table>
<table *ngIf="mode=='humidity'">
    <tr>
        <td>Humidity</td>
    </tr>
    <tr>
        <td>Min</td>
        <td>{{stats.humidity.min.humidity}}</td>
    </tr>
    <tr>
        <td>Max</td>
        <td>{{stats.humidity.max.humidity}}</td>
    </tr>
    <tr>
        <td>Average</td>
        <td>{{stats.humidity.mean}}</td>
    </tr>
</table>