<app-battery device="gimel"></app-battery>
<app-weather-gauge
  [units]="'C'"
  [min]="-40"
  [max]="40"
  [color]="'rgba(200,50,50,0.4)'"
  [value]="temperature"
  [delta]="trendTemperature"
>
</app-weather-gauge>
<app-weather-gauge
  [units]="'hPa'"
  [min]="800"
  [max]="1100"
  [color]="'rgba(200,200,0,0.4)'"
  [value]="pressure"
  [delta]="trendPressure"
>
</app-weather-gauge>
<app-weather-gauge
  [units]="'%'"
  [min]="0"
  [max]="100"
  [color]="'rgba(50,50,200,0.4)'"
  [value]="humidity"
  [delta]="trendHumidity"
>
</app-weather-gauge>
<!-- <table *ngIf="sensorReadings['temperature']">
  <tr>
    <td style="color:red">{{sensorReadings["temperature"].length}}</td>
    <td style="color:yellow">{{sensorReadings["pressure"].length}}</td>
    <td style="color:blue">{{sensorReadings["humidity"].length}}</td>
  </tr>
</table> -->

<app-weather-chart *ngIf="!isMobile"
  title=""
  [data]="readings"
></app-weather-chart>
