<app-battery device="gimel"></app-battery>
<app-weather-gauge
  [units]="'C'"
  [min]="-40"
  [max]="40"
  [color]="'rgba(200,50,50,0.4)'"
  [value]="temperature"
  [delta]="trendTemperature"
  (click)="handleClick('temperature')"
>
</app-weather-gauge>
<app-weather-gauge
  [units]="'hPa'"
  [min]="800"
  [max]="1100"
  [color]="'rgba(200,200,0,0.4)'"
  [value]="pressure"
  [delta]="trendPressure"
  (click)="handleClick('pressure')"
>
</app-weather-gauge>
<app-weather-gauge
  [units]="'%'"
  [min]="0"
  [max]="100"
  [color]="'rgba(50,50,200,0.4)'"
  [value]="humidity"
  [delta]="trendHumidity"
  (click)="handleClick('humidity')"
>
</app-weather-gauge>

<app-stats [mode]="mode" [stats]="allSummary"></app-stats>

<div *ngIf="isReady && !isMobile" class="chart-container">
  <app-weather-chart
    [class]="mode === 'temperature' ? 'visible' : 'hidden'"
    title=""
    [data]="DataRows['temperature']"
    [max]="chartOptions['temperature'].max"
    [min]="chartOptions['temperature'].min"
    [colors]="chartOptions['temperature'].colors"
    [columns]="chartOptions['temperature'].columns"
  ></app-weather-chart>

  <app-weather-chart
    title=""
    [class]="mode === 'pressure' ? 'visible' : 'hidden'"
    [data]="DataRows['pressure']"
    [max]="chartOptions['pressure'].max"
    [min]="chartOptions['pressure'].min"
    [colors]="chartOptions['pressure'].colors"
    [columns]="chartOptions['pressure'].columns"
  ></app-weather-chart>

  <app-weather-chart
    title=""
    [class]="mode === 'humidity' ? 'visible' : 'hidden'"
    [data]="DataRows['humidity']"
    [max]="chartOptions['humidity'].max"
    [min]="chartOptions['humidity'].min"
    [colors]="chartOptions['humidity'].colors"
    [columns]="chartOptions['humidity'].columns"
  ></app-weather-chart>
</div>
