app-weather-chart {
    display: inline-block;
}

p {
    color:green;
}

app-weather-gauge {
    display: inline-block;   
}

app-battery {
    position: fixed;
    top:1em;
    right:1em;
    z-index: 10;
}