canvas {
  display: block;
  background-color: transparent;
  position: relative;
  padding: 0.3em;
  background-color: #111;
}

.container {
  display: block;
  position: relative;
  padding:50px;
}

.text-container {
  position: absolute;
  width: 230px;
  bottom: 50px;
  text-align: center;
}

span {
  z-index: 1;
  font-size: 30px;
}
